@font-face {
	font-family: "Cascadia Code";
	src:url("fonts/CascadiaCodePL.woff2") format("woff2");
	src:url("fonts/CascadiaCodePL.ttf") format("truetype");
}

html {
  background-color: black;
  color: white;
	font-family: "Cascadia Code", monospace;
  font-size: 60%;
}

body {
  max-width: 600px;
  margin: auto;
  padding: 2em;
}

footer, section {
	padding: 3em 0 3em 0;
}

h1, h2, h3, .copy, .insta {
	color: lightslategrey;
	font-weight: normal;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
	font-size: 2.3em;
}

p {
	font-size: 2em;
}

section > p{
	margin-bottom: 2em;
}

strong {
	color: red;
	font-weight: normal;
}

a {
	text-decoration: none;
}

.tel {
	color: red;
	font-size: 2em;
}

footer > a, footer > p {
	color: white;
	font-size: 1.5em;
}

.legal {
	color: white;
}
