/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
	font-family: "Cascadia Code";
	src:url("fonts/CascadiaCodePL.woff2") format("woff2");
	src:url("fonts/CascadiaCodePL.ttf") format("truetype");
}

@-webkit-keyframes Bar {
	0%{color: transparent;}
	50%{color: orangered;}
	100%{color: transparent;}
}

@keyframes Bar {
	0%{color: transparent;}
	50%{color: orangered;}
	100%{color: transparent;}
}

html {
	background-color: black;
	color: floralwhite;
	font-family: "Cascadia Code", monospace;
	font-size: 60%;
}

body {
	max-width: 600px;
	margin: auto;
	padding: 2em;
}

footer, section {
	padding: 3em 0 3em 0;
}

footer {
	padding-top: 10em;
	line-height: 2em;
}

h1, h2, h3 {
	color: lightslategrey;
	font-weight: normal;
}

#Title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

span:last-child {
	animation: Bar 1s linear 0s infinite;
	-webkit-animation: Bar 1s linear 0s infinite;
	color: blue;
	font-weight: normal;
}

span:not(:last-child) {
	left: -100vw;
	-webkit-animation: Type 0s linear normal forwards;
	        animation: Type 0s linear normal forwards;
	white-space: pre;
}

@-webkit-keyframes Type {
	from {left: -100vw}
	to {
		position: initial;
		left: auto
	}	
}

@keyframes Type {
	from {left: -100vw}
	to {
		position: initial;
		left: auto
	}	
}

#Title span:nth-child(1){-webkit-animation-delay: 0.5s;animation-delay: 0.5s}
#Title span:nth-child(2){-webkit-animation-delay: 0.65s;animation-delay: 0.65s}
#Title span:nth-child(3){-webkit-animation-delay: 1s;animation-delay: 1s}
#Title span:nth-child(4){-webkit-animation-delay: 1.7s;animation-delay: 1.7s}
#Title span:nth-child(5){-webkit-animation-delay: 1.9s;animation-delay: 1.9s}
#Title span:nth-child(6){-webkit-animation-delay: 2.2s;animation-delay: 2.2s}
#Title span:nth-child(7){-webkit-animation-delay: 2.4s;animation-delay: 2.4s}
#Title span:nth-child(8){-webkit-animation-delay: 2.6s;animation-delay: 2.6s}
#Title span:nth-child(9){-webkit-animation-delay: 3s;animation-delay: 3s}
#Title span:nth-child(10){-webkit-animation-delay: 3.3s;animation-delay: 3.3s}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.3em;
}

h4, p {
	font-weight: normal;
	font-size: 2em;
}

a {
	color: cornflowerblue;
	-webkit-text-decoration-skip: edges;
	-webkit-text-decoration-skip-ink: auto;
	-webkit-text-decoration-style: underline;
	        text-decoration-style: underline;
	text-decoration-thickness: 1px;
}

dfn, sup {
	color: lightslategrey;
}

small {
	color: floralwhite;
	font-size: 1.5em;
}

Header > h3 {
	color: floralwhite;
}

section > p{
	margin-bottom: 2em;
}

#check {
	font-size: 1em;
	line-height: 1em;
}

#tel {
	color: orangered;
	font-size: 2.3em;
}

#arrow {
	bottom: 2vh;
	font-size: 3em;
	font-weight: normal;
	position: fixed;
	right: 2vh;
	text-decoration: none;
	}
